# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# environments
.env
.venv
venv/
env/

# Jupyter
.ipynb_checkpoints

# HuggingFace / training outputs
mt5_baseline/
nllb200_baseline/
nllb200_*/
model_*/
runs/
outputs/
model*/
# datasets
data/
datasets/kreyol-mt-hat-eng
datasets/kreyol-mt-hat-fra
datasets/corpus_AHL/audio

# logs
*.log

# Mac
.DS_Store

# VSCode
.vscode/

# checkpoints
checkpoint-*/